<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="arcade.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fate HSR</title>
</head>
<body>
    <div id="combatScreen">
        <div id="timerContainer">
            <div id="clock">

            </div>
            <div id="playerTurnContainer">

            </div>
            <div id="cpuTurnContainer">

            </div>
        </div>
        <div id="wrapper">
            <div id="player1Card">
                <div id="activeCharacterContainer" class="characterContainers">

                </div>
                <div id="secondCharacterContainer" class="characterContainers">

                </div>
                <div id="thirdCharacterContainer" class="characterContainers">

                </div>
            </div>
            <div id="player2Card">
                <div id="activeEnemyContainer" class="enemyContainers">

                </div>
                <div id="secondEnemyContainer" class="enemyContainers">

                </div>
                <div id="thirdEnemyContainer" class="enemyContainers">

                </div>
            </div>
        </div>
        
        <div id="attackBtn">

        </div>
        <div id="swapCharacterBtn">

        </div>
        <div id="movesetContainer">

        </div>
        <div id="swapsetContainer">

        </div>
    </div>
    
    <script src="listener.js"></script>
</body>
</html>