<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fate HSR</title>
    
    <link rel="stylesheet" href="../assets/styles/board.css">
    <link rel="stylesheet" href="../assets/styles/fonts.css">
    <link rel="stylesheet" href="../assets/styles/menu.css">
    <link rel="stylesheet" href="../assets/styles/LastActivityMenu/lastActivityCards.css">
    <link rel="stylesheet" href="../assets/styles/LastActivityMenu/lastActivityContainer.css">
    <link rel="stylesheet" href="../assets/styles/MyProfilesMenu/myProfilesContainer.css">
    <link rel="stylesheet" href="../assets/styles/AccountBanner/AccountBanner.css">
    <link rel="stylesheet" href="../assets/styles/SubMenu/subMenu.css">

</head>
<body>
    <header id="header1"></header>
    <div id="loggedAccountDiv">
        <div id="loggedAccountDiv-Top">
            <div id="cardLogged">
                    <div id="accountIcon"></div>
                    <div id="loginInfoDiv">
                        <p class="infoTexts">User Id:</p>
                        <p class="infoTexts">Username:</p>
                        <p class="infoTexts">Email:</p>
                        <button id="logoutBtn">Logout</button>
                    </div>
                <button id="playBtn">Play</button><br>
                <button id="settingsBtn">Settings</button>
            </div>
        </div>
    </div>
    <div id="board">
         <div id="topBar1">Last Activity</div>
        <div id="lastActivityContainer" class="template-window">
            <div class="lastActivityCards"></div>
            <div class="lastActivityCards"></div>
            <div class="lastActivityCards"></div>
            <div class="lastActivityCards"></div>
            <div class="lastActivityCards"></div>
            <div class="lastActivityCards"></div>
        </div>
        <div id="myProfilesContainer" class="template-window">
            <div id="topBar2">My Profiles</div>
        </div>
        <div id="subMenuContainer" class="template-window">
            <div id="topBar3">Forum</div>
        </div>
    </div>
    <script src="../index.js"></script>
</body>


</html>