<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fate HSR</title>
    <link rel="stylesheet" href="../assets/styles/index.css">
</head>
<body>
    <img draggable="false" ondragstart="return false;" id="menuImg" src="../assets/backgrounds/Honkai-Star-Rail-Fate-Stay-Night.png">
    <div id="menuOptions">
        <div id="userMenuContainer">
            <div id="userIconContainer">
                <img id="userIcon" src="../assets/icons/user.png" alt="User Icon">
            </div>
            
            <span id="userName">Kaguyo</span>
        </div>
        <div id="arcadeBtn" class="menuOption">ARCADE</div>
        <div id="coopBtn" class="menuOption">COOP</div>
        <div id="pvpBtn" class="menuOption">VERSUS</div>
        <div id="settingsBtn" class="menuOption">SETTINGS</div>
    </div>
    <script src="../scripts/index.js"></script>
</body>
</html>