<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/pickCharacter.css">
</head>
<body>
    <div id="gameDisplay">

    </div>
    <script src="../scripts/features/autoGenerate/pickCharacter/generateHud.js"></script>
    <script src="../scripts/features/autoGenerate/attributes/generateStats.js"></script>
    <script src="../scripts/models/character.js"></script>
    <script src="../scripts/characters/saber.js"></script>
    <script src="../scripts/characters/blade.js"></script>
    <script src="../scripts/pickCharacter.js"></script>
</body>
</html>